.container{
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  width: 100%;
}

.navbar{
  background-color: var(--secondary-color);
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  position: fixed;

}

.evans{
  padding-left: 12px;
}

.nav{
  display: flex;
  gap: 2rem;
  padding-right: 12px;
  font-size: 1.1rem;
  font-weight: bold;
}

.link{
  color: black;
  text-decoration: none;
}

.link:hover{
  font-size: 1.12rem;
  font-weight: lighter;
  transition: 1s;
}

.link:active{
  color: var(--secondary-color);
}

.content{
  width: 100%;
}

.me{
  display: flex;
  justify-content:center;
  align-items:center;
  height: auto;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-top: 15rem;
  padding-bottom: 10rem;
}

.about{
width: 33rem;

}

.name{
  font-size: 2rem;
  color: var(--secondary-color);
}

.connect{
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.text{
  color: var(--secondary-color);
  text-align: justify;
}

.btn{
  margin-top: 1rem;
  width: 33rem;
  height: 2.5rem;
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-weight: bold;
}

.btn:hover{
  background-color: var(--secondary-color);
  color: black;
  transition: 1s;
}

.image{
  width: 21rem;
  height: 27.5rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
}

.iconcontact{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  position: fixed;
}

.iconlogo{
  color: gray;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  position: relative;
  bottom: 31rem;
  padding-right: 8px;
}

.iconlogo:hover{
  color: black;
}

.research{
  width: 100%;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
}

.header{
  font-size: 1.5rem;
  font-weight: bold;
}

.int{
display: flex;
flex-direction: column;
}



.researchContent{
  width: 58rem;
}

hr{
  border-color: var(--primary-color);
}

.head{
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.education{
  width: 100%;
  height: 37rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.educationContent{
  width: 58rem;
}

.headerE{
    font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.hrE{
   border: 1px solid var(--secondary-color);
}

.school{
  text-wrap: wrap;
}
.schs{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.academic{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  padding: 10px;
}

.bold{
  font-size: 1.2rem;
  font-weight: bold;
}

.linksch{
  color: black;
}

.projects{
  background-color: var(--secondary-color);
    width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.projectsContent{
  width: 58rem;
}

.projectName{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.chocolateGlow{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  width: 15rem;
  height: 17rem;
  padding: 1rem;
  color: var(--secondary-color);
}
.chocolateGlow:hover{
  height: 18rem;
  transition: 1s;
  box-shadow: 8px 6px 10px black;
}

.brandlogo{
  border-radius: 5px;
  background-color: gray;
  height: 1.5rem;
  padding: 7px;
  display: flex;
  justify-content: space-between;
}

.softwareused{
    border-radius: 5px;
  background-color: gray;
  height: 1.5rem;
  padding: 7px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.skills{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.skillscontent{
width: 58rem;
}

.stacks{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.end{
display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  width: 13rem;
  height: 12rem;
  padding: 1rem;
  color: var(--primary-color);
}

.end:hover{
  height: 13rem;
  width: 14rem;
  transition: 1s;
  box-shadow: 6px 4px 8px gray;
}

.contact{
  width: 100%;
  height: auto;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.contacticon{
  display: flex;
  gap: 1rem;
}

.logolink{
  color: var(--primary-color);
  font-size: 2rem;
}

.logolink:hover{
  color: var(--secondary-color);
  font-size: 2.1rem;
  transition: 1s;
}

.frontheader{
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.backheader{
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.databaseheader{
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.uiheader{
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.react{
  display: flex;
  gap: 0.6rem;
  font-weight: bold;
}

.bootstrap{
  display: flex;
  gap: 0.6rem;
  font-weight: bold;
}

.html{
  display: flex;
  gap: 0.6rem;
  font-weight: bold;
}

.node{
  display: flex;
  gap: 0.6rem;
  font-weight: bold;
}

.express{
  display: flex;
  gap: 0.6rem;
  font-weight: bold;
}

.mongo{
  display: flex;
  gap: 0.6rem;
  font-weight: bold;
}

.ui-ux{
  display: flex;
  gap: 0.6rem;
  font-weight: bold;
}

.frontendLan{
display: flex;
flex-direction: column;
gap: 0.6rem;
}

.backendLan{
  display: flex;
flex-direction: column;
gap: 0.6rem;
}

.endlogo{
  font-size: 0.9rem;
  border: 1px solid gray;
  background-color: gray;
  padding: 6px;
  border-radius: 60%;
}

.sidenav{
  width: 15rem;
  height: 50rem;
  background-color: #ccd0cf44;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 2rem;
  padding-left: 1rem;
  gap: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}
.lear{
  display: none;
}

@media screen and (max-width: 400px){
  .container{
    width: 100%;
    height: auto;
  }

  .l{
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    padding: 15px;
  }
  .l:hover{
    border: 1px solid var(--secondary-color);
  }

  .clear{
    display: none;
  }
  .lear{
    display: block;
  }

  .iconcontact{
    display: none;
  }

  .me{
    padding-top: 15vh;
  }

  .about{
   width: 39vh;
  }
  .name{
    font-size: 2.4vh;
  }
  .connect{
    font-size: 2vh;
    font-weight: bold;
  }
  .btn{
    width: 39vh;
  }

  .researchHeader{
    text-align: center;
  }
  .researchContent{
    width: 40vh;
  }
  .researchContentt{
    text-align: center;
  }
  .intbody{
    
    text-align: justify;
  }
  .educationHeader{
    text-align: center;
  }
  .projectHeader{
    text-align: center;
  }
  .project{
    width: 39vh;
  }
  .projectName{
    width: 39vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4vh;
  }
  .header{
    text-align: center;
  }
  .stacks{
    width: 39vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4vh;
  }

  .logolink{
    font-size: 1.3rem;
  }

  .copy{
    font-size: 0.6rem;
  }

}

@media screen and (min-width: 401px) and (max-width: 1040px){
  .container{
    width: 100%;
  }

  .iconcontact{
    display: none;
  }

  .l{
    font-size: 1.45rem;
    font-weight: bold;
    width: 100%;
    padding: 15px;
  }
  .l:hover{
    border: 1px solid var(--secondary-color);
    width: 100%;
  }

  .clear{
    display: none;
  }
  .lear{
    display: block;
  }

  .research{
    width: 100%;
  }
  .researchContent{
    width: 80%;
  }
  .education{
    width: 100%;
  }
  .educationContent{
    width: 80%;
  }
  .projects{
    width: 100%;
  }
  .projectsContent{
    width: 80%;
  }
  .skills{
    width: 100%;
  }
  .skillscontent{
    width: 80%;
  }
}

@media screen and (min-width: 401px) and (max-width: 680px){
.about{
  width: 28rem;
}
.name{
  font-size: 1.5rem;
}
.connect{
  font-size: 1.5rem;
}
.btn{
  width: 28rem;
}
}
